.container-genero {
  display: flex;
  justify-content: center;
}

.genero-box {
  background-image: linear-gradient(104deg, #fafafa, #eee);
  color: #37474f;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}

.ativo {
  border: none;
  background-image: linear-gradient(117deg, #03a9f4, #0288d1);
  color: #fff;
}
